@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.roundedButton {
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
  overflow: hidden;
}

.roundedButton p {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}

.roundedButton:hover p {
  color: white;
}

.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}

.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 0vw;
  position: relative;
  margin-top: 100px;
  background-color: black;
  z-index: 1;
}
.slidingImages .slider {
  display: flex;
  position: relative;
  height: 30vw;
  gap: 1vw;
  width: 180vw;
  left: -10vw;
}
.slidingImages .slider .project-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slidingImages .slider .project-item .imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.slidingImages .slider .project-item .imageContainer img {
  object-fit: cover;
  object-position: top;
}

.projsButtonContainer {
  position: absolute;
  z-index: 50;
}
.projsButton {
  background-color: #ffee00;
  color: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.projsButton h4 {
  margin: 0px;
  z-index: 2;
  position: relative;
}
.projsButton p {
  margin: 0px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 400px) {
  .slidingImages {
    display: flex;
    flex-direction: column;
    gap: 0vw;
    position: relative;
    margin-top: 100px;
    background-color: black;
    z-index: 1;
  }
  .slidingImages .slider {
    display: flex;
    position: relative;
    height: 50vw;
    gap: 4vw;
    width: 280vw;
    left: -80vw;
  }
}

.servicesMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  z-index: 1000000;
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSlider {
  z-index: 1000000;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  z-index: 1000000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.project {
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 0px;
  border-top: 1px solid rgb(26, 26, 26);
  border-bottom: 1px solid rgb(26, 26, 26);
  cursor: pointer;
  transition: all 0.2s;
}
.project h2 {
  color: white;
  margin: 0px;
  transition: all 0.4s;
}
.project:hover h2 {
  color: #ffee00;
  transform: translateX(-20px);
}

.project #sub {
  margin: 0px;
  transition: all 0.4s;
}

.project:hover #sub {
  transform: translateX(-20px);
}

.project #arrow {
  transition: all 0.4s;
}
.project:hover #arrow {
  transform: translateX(20px);
}

.project p {
  font-size: 24px;
  color: white;
  transition: all 0.4s;
}

.project:hover p {
  color: #ffffff;
  transition: all 0.3 ease-in;
}

.project h3 {
  color: #000000;
  transition: all 0.3 ease-in;
}

